<div class="d-flex h-100 p-3">
    <MudStack Class="w-100" AlignItems="AlignItems.Center">
        <MudText Typo="Typo.h4" Align="Align.Center">@Title</MudText>
        @foreach (var skill in Skills)
        {
            <Skill SkillData="skill" />
        }
    </MudStack>
</div>


@code {
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required List<SkillModel> Skills { get; set; }
}
