# Build output
bin/
obj/
out/
publish/
wwwroot/dist/
wwwroot/node_modules/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vscode/
.vs/

# Rider
.idea/

# ASP.NET secrets
secrets.json

# Node.js dependencies
node_modules/

# Logs
*.log

# NuGet packages
*.nupkg
packages/
.nuget/

# Others
*.DS_Store
Thumbs.db
/JonasWahle.de.UI/Properties
JonasWahle.de.UI/appsettings.json
JonasWahle.de.UI/app.db
