@page "/"

<PageTitle>Start</PageTitle>

<h1>
    Start
</h1>
<p>
    Welcome to <span class="text-primary">jonaswahle.de</span>
</p>

<h3>
    Rendermode
</h3>
<p>
    @RendererInfo.Name @(RendererInfo.IsInteractive ? "(interactive)" : "(not interactive)")
</p>