@page "/impressum"


<PageTitle>Impressum</PageTitle>
<MudStack Spacing="4" class="mb-5">
	<MudText Typo="Typo.h3" Align="Align.Center">Impressum</MudText>

	<section>
		<div class="row align-items-center">
			<div class="col-md-12">
				<h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
				<p>
					Jonas Wahle<br />
					Ernst-Friedrich-Str. 7<br />
					76227 Karlsruhe
				</p>
				<br>
				<h2>Kontakt</h2>
				<p>
					Telefon: + 49 (0) 176 31227944<br />
					E-Mail: wahle.jonas@web.de
				</p>
				<br>
				<h2>Redaktionell verantwortlich</h2>
				<p>
					Jonas Wahle<br />
					Ernst-Friedrich-Str. 7<br />
					76227 Karlsruhe
				</p>
				<br>
				<h2>EU-Streitschlichtung</h2>
				<p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:</p>
				<MudLink Underline="Underline.Hover" Target="_blank" Href="https://ec.europa.eu/consumers/odr/" Color="Color.Info" Typo="Typo.body1">
					https://ec.europa.eu/consumers/odr/
				</MudLink>
				<br /><br />
				<p>Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>
				<br>
				<h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
				<p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
				<br>
				<p class="mb-0">Quelle:</p>
				<MudLink Underline="Underline.Hover" Target="_blank" Href="https://www.e-recht24.de" Color="Color.Info" Typo="Typo.body1">
					https://www.e-recht24.de
				</MudLink>
				
			</div>
		</div>
	</section>

</MudStack>
