@page "/datenschutz"


<PageTitle>Datenschutzerklärung - Jonas Wahle</PageTitle>
<MudStack Spacing="4" class="mb-5">
    <MudText Typo="Typo.h4">Datenschutz&shy;erklärung</MudText>

    <MudText Typo="Typo.body1">
        <h3>Allgemeine Hinweise</h3>
        Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.<br />
        Diese Datenschutzerklärung informiert Sie über Art, Umfang und Zweck der Verarbeitung personenbezogener Daten auf unserer Website.
    </MudText>

    <MudText Typo="Typo.body1">
        <h3>Verantwortliche Stelle</h3>
        Verantwortlich für die Datenverarbeitung auf dieser Website ist:<br /><br />
        <em>Jonas Wahle</em><br />
        Ernst-Friedrich-Str. 7<br />
        76227 Karlsruhe<br /><br />
        <strong>E-Mail:</strong> wahle.jonas@web.de<br />
        <strong>Telefon:</strong> + 49 (0) 176 31227944
    </MudText>

    <MudText Typo="Typo.body1">
        <h3>Erhebung und Speicherung personenbezogener Daten beim Besuch der Website</h3>
        Beim Aufrufen unserer Website werden durch den auf Ihrem Endgerät zum Einsatz kommenden Browser automatisch Informationen an den Server unserer Website gesendet. Diese Informationen werden temporär in sogenannten Server-Log-Dateien gespeichert.<br /><br />
        <u>Folgende Informationen werden dabei automatisch erhoben:</u><br />
        - IP-Adresse des anfragenden Endgeräts<br />
        - Datum und Uhrzeit des Zugriffs<br />
        - Name und URL der abgerufenen Datei<br />
        - Website, von der aus der Zugriff erfolgt (Referrer-URL)<br />
        - Verwendeter Browser und ggf. das Betriebssystem Ihres Endgeräts sowie der Name Ihres Access-Providers<br /><br />
        Diese Daten dienen der technischen Sicherheit und Optimierung der Website. Eine Zusammenführung dieser Daten mit anderen Datenquellen erfolgt nicht.<br /><br />
        <strong>Rechtsgrundlage:</strong> Art. 6 Abs. 1 lit. f DSGVO
    </MudText>

    <MudText Typo="Typo.body1">
        <h3>Hosting</h3>
        Diese Website wird bei <strong>Hetzner</strong> gehostet. Das Rechenzentrum befindet sich in Deutschland (Nürnberg).<br />
        Weitere Informationen finden Sie in der Datenschutzerklärung von Hetzner:
        <MudLink Underline="Underline.Hover" Color="Color.Secondary" Href="https://www.hetzner.com/de/legal/privacy-policy/" Target="_blank">https://www.hetzner.com/de/legal/privacy-policy/</MudLink>
    </MudText>

    <MudText Typo="Typo.body1">
        <h3>Kontaktaufnahme</h3>
        Bei einer Kontaktaufnahme per E-Mail oder über ein Formular werden Ihre Angaben inklusive personenbezogener Daten (z. B. Name, E-Mail, Nachricht) zur Bearbeitung gespeichert.<br /><br />
        Eine Weitergabe an Dritte erfolgt nicht ohne Ihre Einwilligung.<br /><br />
        <strong>Rechtsgrundlage:</strong> Art. 6 Abs. 1 lit. b DSGVO
    </MudText>

    <MudText Typo="Typo.body1">
        <h3>Rechte der betroffenen Person</h3>
        Sie haben folgende Rechte:<br />
        - Auskunft (Art. 15 DSGVO)<br />
        - Berichtigung (Art. 16 DSGVO)<br />
        - Löschung (Art. 17 DSGVO)<br />
        - Einschränkung der Verarbeitung (Art. 18 DSGVO)<br />
        - Datenübertragbarkeit (Art. 20 DSGVO)<br />
        - Widerruf erteilter Einwilligungen (Art. 7 Abs. 3 DSGVO)<br />
        - Beschwerde bei der Aufsichtsbehörde (Art. 77 DSGVO)
    </MudText>

    <MudText Typo="Typo.body1">
        <h3>Datensicherheit</h3>
        Wir setzen technische und organisatorische Maßnahmen ein, um Ihre Daten gegen Manipulation, Verlust und unbefugten Zugriff zu schützen.<br />
        Diese Sicherheitsmaßnahmen werden entsprechend der technologischen Entwicklung fortlaufend verbessert.
    </MudText>

    <MudText Typo="Typo.body1">
        <h3>Keine Verwendung von Analyse- oder Tracking-Tools</h3>
        Diese Website verwendet keine Webanalyse-Tools und keine Tracking-Technologien.<br />
        Eine Auswertung Ihres Nutzerverhaltens findet nicht statt.
    </MudText>

    <MudText Typo="Typo.body1">
        <h3>Aktualität und Änderung dieser Datenschutzerklärung</h3>
        Diese Datenschutzerklärung hat den Stand: <strong>Oktober 2025</strong>.<br />
        Wir behalten uns vor, diese Datenschutzerklärung anzupassen. Die jeweils aktuelle Version finden Sie jederzeit auf dieser Website.
    </MudText>
</MudStack>
