@inherits LayoutComponentBase


<SubLayout>
    <MudCard Class="m-4" Elevation="3">
        <main class="p-4 overflow-x-hidden">
            @Body
        </main>
    </MudCard>
</SubLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<MudScrollToTop Style="bottom: 55px;">
    <MudFab Color="Color.Primary" IconColor="Color.Secondary" IconSize="Size.Large" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
</MudScrollToTop>

@* MudBlazor *@
<MudThemeProvider Theme="_customTheme" />
<MudPopoverProvider />
<MudDialogProvider BackgroundClass="blurred-backdrop" />
<MudSnackbarProvider />


@code {
    MudTheme _customTheme = new()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = new("#13263c"),
            Secondary = new("#ee595b"),
            Tertiary = new("#ffffff")
        },
        PaletteDark = new PaletteDark()
        {
            Primary = new("#ee595b"),
            Secondary = new("#13263c"),
            Tertiary = new("#ffffff")
        }
    };

}