@inherits LayoutComponentBase


<div>
    @Body
</div>

<MudThemeProvider Theme="AppTheme.Theme" />
<MudPopoverProvider />
<MudDialogProvider BackgroundClass="blurred-backdrop" />
<MudSnackbarProvider />